.mainDiv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100px;
    width: 250px;
    font-size: medium;
    font-family:Aktiv Grotesk,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

.recording-button-div{
    display: flex;
    background:#0377B3;
    color: white;
    height: 40%;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}