asgiref==3.4.1
Django==4.0.2
djangorestframework==3.13.1
gunicorn==20.0.4
pytz==2020.1
PyYAML==6.0
selenium==3.141.0
sqlparse==0.3.1
urllib3==1.26.7
PyGithub==1.53
pyyaml==6.0
postmarker==0.14.1
Jinja2==2.11.3
jmespath==0.10.0
# Temporary patch for markupsafe issue https://github.com/pallets/markupsafe/issues/284
markupsafe>=1.1.1,<2.1.0
#psycopg2 is needed for establishing connection with Postgresql database
psycopg2==2.9.6
#For deploying the application on Mac, comment out the above line and uncomment the below line
#psycopg2-binary==2.9.6
django_crontab==0.7.1
reportportal-client==5.6.5
