asgiref==3.4.1
Django==4.0
djangorestframework==3.13.1
gunicorn==20.0.4
pytz==2020.1
PyYAML==6.0
selenium==3.141.0
sqlparse==0.3.1
urllib3==1.26.7
PyGithub==1.53
pyyaml==6.0
postmarker==0.14.1
Jinja2==2.11.3
jmespath==0.10.0
# Temporary patch for markupsafe issue https://github.com/pallets/markupsafe/issues/284
markupsafe>=1.1.1,<2.1.0
