.main-container {
    top:0px;
    left: 0px;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;

}
.left-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    user-select: none;
    background-color: white;
}

.right-div {
   position: relative;
   width: 70%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   background-color: white;
   color: black;
   font-weight: 100;
}

.right-div-text{
    font-size: 25px;
    margin-top: 20px;
}